@font-face {
    font-family: Poppins-Regular;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-Bold;
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins-Regular', Arial, Helvetica, sans-serif;
}

body {
    background-color: #FCFCFC;
    background-image: url("../img/blob-scene-haikei11.svg");
    background-size: 100%;
}

main {
    width: 50%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
}

.container {
    height: 720px;
    width: 1000px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 16px;
    background-color: #fefefe;
}

/* Index -> Login */

.containerLogin {
    position: absolute;
    width: 390px;
    height: 720px;
    background: #226CE0;
    border-radius: 16px 0px 0px 16px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    width: 246px;
    height: 382px;
}

.login h1 {
    text-align: left;
    width: 200px;
    font-family: 'Poppins-Bold';
}

.login p {
    margin-top: 30px;
}

.btnEntrar {
    border: 3px solid white;
    text-decoration: none;
    background-color: #226CE0;
    width: 204px;
    height: 48px;
    border-radius: 50px;
    margin: 50px 0px 20px 0px;
    font-size: 16px;
    color: white;
    font-family: 'Poppins-Bold';
    cursor: pointer;
    transition: .2s;
}

.btnEntrar:hover {
    background-color: white;
    border: 3px solid white;
    color: #226CE0;
    transition: .2s;
}

.login a {
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    color: white;
}


/* Index -> Cadastro */

.containerCadastro {
    width: 610px;
    height: 100%;
    float: right;
    border-radius: 0px 16px 16px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro {
    width: 428px;
    height: 661.33px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cadastro img {
    width: 428px;
    height: 236px;
}

.cadastro h1 {
    color: #226CE0;
    font-family: 'Poppins-Bold';
}

.formCadastro {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email,
.senha,
.confirmaSenha {
    display: flex;
    flex-direction: column;
    color: #363636;
    width: 100%;
}

.email label,
.senha label,
.confirmaSenha label {
    margin-top: 30px;
    font-family: 'Poppins-Bold';
}

.email input,
.senha input,
.confirmaSenha input {
    border: none;
    height: 40px;
    outline: 0;
    font-size: 18px;
    padding: 0px 7px;
    border-radius: 5px;
    background-color: #F5F5F5;
}

.btnCadastrar {
    border: 3px solid #226CE0;
    text-decoration: none;
    background-color: #226CE0;
    width: 204px;
    height: 48px;
    border-radius: 50px;
    margin-top: 20px;
    font-size: 16px;
    color: white;
    font-family: 'Poppins-Bold';
    cursor: pointer;
    transition: .2s;
}

.btnCadastrar:hover {
    background-color: white;
    border: 3px solid #226CE0;
    color: #226CE0;
    transition: .2s;
}

/* Login.html */

.imgLogin {
    width: 490px;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentLogin {
    width: 510px;
    height: 100%;
    background-color: #226CE0;
    border-radius: 0px 16px 16px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formLogin {
    width: 90%;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formLogin h1 {
    font-family: 'Poppins-Bold';
}

.formLogin label {
    color: white;
    font-family: 'Poppins-Bold';
}

.formLogin a {
    margin-top: 20px;
    text-decoration: none;
    color: white;
}

.btnEntrar {
    margin-top: 10px;
}

/* termo.html */
.contentTermo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #226CE0;
    border-radius: 16px;
}

.contentTermo h1 {
    color: white;
    font-family: 'Poppins-Bold';
    margin-bottom: 20px;
}

#termo {
    width: 80%;
    height: 300px;
    margin-bottom: 25px;
    font-weight: 700;
    text-indent: 50px;
    hyphens: auto;
    border: none;
    padding: 15px;
    border-radius: 16px;
}

#cbTermo {
    width: 20px;
    height: 20px;
}

.divTermo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.divTermo label {
    cursor: pointer;
    font-family: 'Poppins-Bold';
    color: white;
    margin-left: 5px;
}

.linkTermo {
    pointer-events: none;
    cursor: default;
}

.linkTermoActive {
    cursor: pointer;
}

.btnTermo {
    background-color: #ccc;
    border: 3px solid #ccc;
    width: 204px;
    height: 48px;
    border-radius: 50px;
    margin-top: 20px;
    font-size: 16px;
    color: white;
    font-family: 'Poppins-Bold';
}

.active {
    border: 3px solid white;
    text-decoration: none;
    background-color: #226CE0;
    width: 204px;
    height: 48px;
    border-radius: 50px;
    margin-top: 20px;
    font-size: 16px;
    color: white;
    font-family: 'Poppins-Bold';
    cursor: pointer;
    transition: .2s;
}

.active:hover {
    background-color: white;
    border: 3px solid white;
    color: #226CE0;
    transition: .2s;
}

/* pagamento.html */
  
.content-preco {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 470px;
    border-radius: 16px 0px 0px 16px;
    background-color: #226CE0;
    float: left;
}
  
.imgPagamento {
    width: 320px;
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: center; */
}
  
h3 {
    font-size: 24px;
    color: #fff;
    margin-top: 50px;
    font-weight: 400;
}
  
.content-preco h1 {
    color: #fff;
    text-align: center;
    margin-top: 50px;
    font-family: 'Poppins-Bold';
    font-size: 40px;
}
  
.content.preco p, a {
    color: #fff;
    text-align: center;
    font-size: 16px;
    margin-bottom: 50px;
}
  
.content-cartao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 530px;
    height: 100%;
}
  
.content-cartao h1 {
    color: #226CE0;
    text-align: center;
    font-family: 'Poppins-Bold';
}
  
.cartao {
    width: 430px;
    height: 170px;
    background-color: #E4E4E4;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 0 auto;
}
  
input[type="text"], input:focus {
    padding-left: 15px;
    outline: 0;
    box-shadow: 0 0 0 0;
    border-radius: 3px;
    border: 0 none;
    margin-left: 10px;
}
  
.numero, .nome {
    padding: 5px 220px 5px;
    display: flex;
    align-self: flex-start;
}
  
.dados-cartao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  
.dia, .ano, .cvv {
    width: 50px;
    padding: 5px;
}
  
.usar-cartao, .adicionar-cartao {
    border: 3px solid #226CE0;
    text-decoration: none;
    background-color: #226CE0;
    width: 204px;
    height: 48px;
    border-radius: 50px;
    margin-top: 20px;
    font-size: 16px;
    color: white;
    font-family: 'Poppins-Bold';
    cursor: pointer;
    transition: .2s;
}
.usar-cartao:hover, .adicionar-cartao:hover{
    background-color: white;
    border: 3px solid #226CE0;
    color: #226CE0;
    transition: .2s;
}
  
.linha {
    background-color: #000000;
    padding: 1px;
    width: 8    0%;
}

/* cadCartao.html */

.content-addCartao{
    background-color: #226CE0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 16px;
}

.content-addCartao h1{
    font-family: 'Poppins-Bold';
    color: white;
    margin-bottom: 20px;
}

.addCartao{
    border: 2px solid white;
    padding: 15px;
    border-radius: 16px;
}
.addCartao .numero, .addCartao .nome, .addCartao .dados-cartao{
    margin: 16px 0px;
}