@font-face{
    font-family: Poppins-Regular;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins-Regular';
}
body{
    background-color: #FCFCFC;
}

main{
    width: 50%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    text-align: center;
}
main button{
    width: 30%;
    height: 50px;
    border-radius: 50px;
    margin-top: 20px;
    border: none;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    background-color: #226CE0;
    color: white;
    transform: .2s;
    cursor: pointer;
}
main button:hover{
    background-color: white;
    border: 2px solid #226CE0;
    color: #226CE0;
    transition: .2s;
}