<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/styles.css" />
    <title>Home</title>
  </head>
  <body>
    <main>
      <div class="container">
        <div class="imgLogin">
          <img src="/public/img/imgLogin.png" alt="" width="100%" height="609px" />
        </div>

        <div class="contentLogin">
          <div class="formLogin">
            <h1>LOGIN</h1>
            <p>Bem-vindo(a) de volta!</p>
            <form action="/login" method="post">
              <div class="email">
                <label for="emailLogin">E-mail:</label>
                <input type="email" id="emailLogin" name="emailLogin" onkeypress="verificaEmailCelular(this.value)"/>
              </div>
              <div class="senha">
                <label for="senhaLogin">Senha:</label>
                <input type="password" id="senhaLogin" name="senhaLogin"/>
              </div>
              <a href="#">Esqueci minha senha</a>
              <button type="submit" class="btnEntrar">ENTRAR</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>

    <script>

      const inputEmail = document.getElementById('emailLogin');

      function verificaEmailCelular(valor) {

        var regra = /^[0-9]+$/;

        if(valor.match(regra)) {

          console.log('Number');
        } else {
          console.log('String');
        }

        /* if (typeof(inputEmail.value) == Number) {
           console.log('Celular');
        } else {
          console.log('Email');
        }*/
      }
    </script>

  </body>
</html>
