<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bilhete</title>
    <link rel="stylesheet" href="/public/css/styles.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <main>
      <div class="containerBilhete">
        <div class="contentBilhete">
          <h1>Olá, <%= nome %></h1>                       
          <h1>MEUS BILHETES</h1>

          <a href="/recarga"><button class="comprarBilhete">COMPRAR BILHETE</button></a>

          <div class="mostrarBilhetes">
            <% for (i = 0; i < tamanhoOBJ; i++) { %>

              <div class="bilhete ativado" value="<%= tipoBilhete[i].TIPO %>">
                  <div class="info">
                      <h4 id="codigoBilhete">Bilhete Nº <%= bilhete[i].CODIGO %></h4>
                      <h4 id="tipoBilhete">Tipo: <%= tipoBilhete[i].TIPO %></h4>
                  </div>
  
                  <div class="btnsBilhete">
                      <button type="submit" class="btnUsarBilhete" id="btnUsarBilhete" onclick="usarBilhete(this.value)" value="<%= bilhete[i].CODIGO %>&<%= bilhete[i].TIPO %>">USAR BILHETE</button></a>
                      <button type="submit" class="btnRecarregarBilhete" onclick="chamaRecargaBilhete(this.value)" value="<%= bilhete[i].CODIGO %>">RECARREGAR BILHETE</button>
                      <button type="submit" class="btnRelatorio" onclick="modalRelatorio(this.value)" value="<%= bilhete[i].CODIGO %>">RELATÓRIO DE USO</button>
                  </div>
              </div>
            <% } %>
          </div>
          
        </div>
      </div>
    </main>

    <div class="containerModalRecarga" id="containerModalRecarga">
      <div class="modalRecarga">
        <button class="fechaModal">X</button>

        <div class="contentValorRecarga">
          <h1 id="numBilhete"></h1>
          <p>Mantenha o mouse em cima do botão para ter uma breve descrição de cada tipo</p>
          <button class="btnRecarga" title="Esse bilhete é válido apenas uma vez" value="unico">BILHETE ÚNICO <br> VALOR: R$ 5,00</button>
          <button class="btnRecarga" title="Esse bilhete pode ser utilizado até 2 vezes" value="duplo">BILHETE DUPLO <br> VALOR: R$ 7,00</button>
          <button class="btnRecarga" title="Esse bilhete é válido por um período de 7 dias" value="7 dias">BILHETE 7 DIAS <br> VALOR: R$ 40,00</button>
          <button class="btnRecarga" title="Esse bilhete é válido por um período de 30 dias" value="30 dias">BILHETE 30 DIAS <br> VALOR: R$ 70,00</button>
          <button class="btnCancelar">CANCELAR</button>
        </div>

        <div class="containerModalTermo" id="containerModalTermo">
          <div class="modalTermo">
              <h3>TERMO DE USO</h3>
              <p>- Esse termo será incluso na próxima fase de entrega.</p>
              <p id="recargarBilhete"></p>
      
              <div class="divTermo">
                  <input type="checkbox" name="cbTermo" id="cbTermo" onclick="verifyCheckBox()">
                  <label for="cbTermo">Aceito os termos</label>
              </div>
              
              <button type="submit" class="btnTermo" id="btnTermo" >CONFIRMAR E PAGAR</button>
              <button type="submit" class="btnCancelar">CANCELAR</button>
          </div>
        </div>

      </div>
    </div>

    <div class="containerModalMensagem" id="containerModalMensagem">
      <div class="modalMensagem">
        <button class="fechaModal">X</button>
        <img id="QRCode" width="40%">
        <p>Utilize o QR code acima para validar o bilhete</p>
        <h3 id="codigoBilheteU" style="margin: 15px 0px"></h3>
        <h4 id="mensangem"></h4>
      </div>
    </div>

    <div class="containerModalRelatorio" id="containerModalRelatorio">
      <div class="conteudoRelatorio">
        <button class="fechaModalRelatorio"></button>
        <h3 class="">RELATÓRIO DE USO</h3>
        <div class="cabecalho">
          <ul>
            <li>BILHETE</li>
            <li>DATA DE GERAÇÃO</li>
            <li>RECARGA</li>
            <li>DATA DE COMPRA DA RECARGA</li>
            <li>DATA DE UTILIZAÇÃO DA RECARGAs</li>
          </ul>
        </div>
        <div id="dadosRelatorio">
        </div>
      </div>
    </div>

    <script src="../public/js/scriptIntegracao.js"></script>
    <script src="public/js/script.js"></script>

  </body>
</html>