<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bilhete</title>
    <link rel="stylesheet" href="/public/css/styles.css" />
  </head>
  <body>
    <main>
      <div class="containerBilhete">
        <div class="contentBilhete">
            <h1>MEUS BILHETES</h1>

            <div class="bilhete">
                <div class="info">
                    <h4 id="codigoBilhete">Bilhete Nº 0001</h4>
                    <h4 id="tipoBilhete">Tipo: BILHETE ÚNICO </h4>
                </div>

                <div class="btnsBilhete">
                    <a href="#" id="utilizaBilhete"><button type="submit" class="btnUserBilhete">USAR BILHETE</button></a>
                    <a href="/recarga"><button type="submit" class="btnRecarregarBilhete">RECARREGAR BILHETE</button></a>
                </div>
            </div>
      </div>
    </main>

    <script src="../public/js/scriptIntegracao.js"></script>

    <script>
      
      const urlParams = new URLSearchParams(window.location.search);

      const codigoBilheteURL = urlParams.get("codigo");
      const tipoBilheteURL = urlParams.get("tipo");
      
      const inputCodigoBilhete = document.getElementById("codigoBilhete");
      const inputTipoBilhete = document.getElementById("tipoBilhete");
      const linkUtilizaBilhete = document.getElementById("utilizaBilhete");
      
      inputCodigoBilhete.innerHTML = codigoBilheteURL;
      inputTipoBilhete.innerHTML = tipoBilheteURL;

      linkUtilizaBilhete.setAttribute("href", `/utilizaBilhete?codigo=${codigoBilheteURL}&tipo=${tipoBilheteURL}`);

    </script>
  </body>
</html>
